*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*header*/
.sar {
	border: 1px solid gray;
	background-color: #1f2937;
	display: flex;
	justify-content: space-between
}


/* Logo */
.logo {
	margin:5px;
}
.logo img{
	width:80px;
}


/* menu */
.menu ul {
	list-style: none;
	display: flex;
	padding: 5px;
	margin: 5px;
}
.menu li a {
	background-color: #1f2937;
	color: #f9faf8;
	font-size:18px;
	padding: 5px;
	text-decoration: none;
}
.menu li a:hover {
	color: #9facc2;
}

/*container*/
.container {
	display: flex;
	justify-content: space-between;
	margin:  10;
	padding: 25px;
	background-color: #2a4d81;
	color: #f9faf8;
}
.topic{
	display: inline-block;
}
.images {
	display: inline-block;
}
.images img {
	width: 300px;
}

.items-h{
	padding: 25px;
	text-align: center;
}

.con{
	margin: 10px;
	padding: 10px;
	align-items: center;
}

.items {
	display: flex;
	justify-content: center;
	gap:8px;
}
.item div {
	display: inline-block;
}
.items img {
	border: 4px solid #4383e3;
	border-radius: 10px;
	width: 200px;
	height: 120px;
}
.items p{
	text-align: center;
	font-size: 14px;
	width: 200px;
}
.sec3{
	padding: 60px;
	background-color: #e5e7eb;
}
.author {
 text-align: right;
 font-weight: bold;
}

.sign {
	background-color: #4383e3;
	border-radius: 4px;
	color: white;
	margin:60px;
	padding: 10px;
	display:flex;
	justify-content: center;
	gap:50px;
}
.sign button {
	margin: 10px;
	padding: 5px ;
	background-color: #4383e3;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
}

.foot{
	background-color: #1f2937;
}
.foot p {
	text-align: center;
	color: white;
	padding: 15px;
	font-size: 14px;
}
